//color
//base
$fore-color: black ;
$back-color: rgb(228, 228, 228);
//theme
$theme-color:#3f51b5 ;
$theme-darker-color: rgb(8, 34, 104) ;
$theme-darker-opa-color: rgb(8, 34, 104, 0.3) ;
$theme-lighter-color: rgb(12, 74, 243) ;
$theme-lighter-opa-color: rgb(12, 74, 243, 0.3) ;
//pallete
$pri-color:$theme-color;
$sec-color:#f50057;

//section
$section-fore-color:$fore-color;
$section-back-color:rgba(255, 255, 255, 1);

//transition
$transition:0.3s;

$breakpoint: 560px ;

@mixin sp {
    @media screen and (max-width:$breakpoint) {
        @content ;
    }
}

@mixin fs($pc,$sp){
    font-size: $pc;
    @include sp{
        font-size: $sp;
    }
}
@mixin fs-max{
    @include fs(2.8rem,2.0rem);
}
@mixin fs-large{
    @include fs(2.3rem,2.3rem);
}
@mixin fs-normal{
    @include fs(1.2rem,1.2rem);
}
@mixin fs-small{
    @include fs(1.0rem,1.0rem);
}
@mixin fs-min{
    @include fs(0.8rem,0.8rem);
}

@mixin basic-in-section{
    h1{
        @include fs-max ;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    h2{
        border-bottom: solid 1px $theme-color;
        padding-left: 0.1em;
        margin-bottom: 0.5rem;
        @include fs-large ;
    }
    h3{
        margin-top: 0.75em;
        margin-bottom: 0.5em;
        padding: 0.5rem 0 0.5rem 0.5rem;
        border-left: 5px solid $theme-color;
        @include fs-normal ;
        font-weight: bold;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.01) ,
            rgba(0, 0, 0, 0.00)
        ) ;
    }
    h4{
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding-left: 0.75em;
        @include fs-small() ;
        font-weight: bold;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            left: 0.25em;
            bottom: -0.1em;
            width: 30%;
            border-bottom: 0.6em $theme-lighter-opa-color solid;
            z-index: -1;
        }
    }
    code{
        display: inline-block;
        background: rgb(243, 243, 243);
        // border: solid 1px rgb(192, 192, 192);
        // border-radius: 10px;
        // padding: 0.25em 0.5em;
        // margin: 0 0.25em;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        margin: 0 0.3em;
        padding: 0 0.25em;
        border-radius: 5px;
    }
    ul{
        list-style: disc;
        padding-left: 2rem;
        margin: 0.25em 0;
        li{
            @include fs-normal() ;
        }
    }
    p{
        margin: 0.75rem 0;
        line-height: 1.5em;
    }
    hr{
        margin: 1.5rem 0;
    }
    table{
        width: 100%;
        td,th{
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            padding: 0.5em;
        }
        tr:nth-child(2n+1){
            background: rgb(255, 255, 255);
        }
        tr:nth-child(2n){
            background: rgb(247, 247, 247);
        }
        thead{
            td,th{
                text-align: center;
                @include fs-normal() ;
                font-weight: bold;
                background: $theme-color;
                color:white;
                border-top: none;

            }
        }
        tbody{
            td{}
            th{}
        }
    }
}







