
@use "style/var" as v ;

@mixin link {
    color: rgb(76, 41, 235) ;
    transition: v.$transition;
    &:hover{
        opacity: 0.5;
        transition: v.$transition;
    }
}


.dl{
    dt{
        margin-top: 2rem;
        @include v.fs-normal ;
        font-weight: bold;
    }
    dd{
        @include v.fs-large ;
        margin-left: 1em;
        &.p{
            @include v.fs-small ;
        }
    }
    a{
        @include link();
    }
}
.link{
    @include link();
}
.foot-icons{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
