
@use "style/var" as v ;

.sidebar{
    padding: 1.2rem;
    margin: 0.5rem;
    border-radius: 1rem;
    max-width: min(30vw,330px);
    border: solid 1px v.$back-color;
    background-color: rgb(250, 250, 250);
    @include v.fs-small ;
    .sidebarItem{
        margin-bottom: 1.5rem;
        h3{
            @include v.fs-normal ;
            font-weight: bold;
        }
        ul{
            li{
                margin-left: 1em;
            }
        }
        &:last-child{
            margin: 0;
        }
    }
    @include v.sp{
        max-width: 100%;
    }
}

